<%= form_with url: get_movie_path, method: :post do |form| %>
    <div class="question1">
        <%= image_tag '質問１.png', class: "q_num" %>
        <%= image_tag 'Group 11.png', class: "q_image" %>
        <div class="answer_zone">
            <%= form.radio_button :answer1, "Yes", class: "radio-btn"  %>
            <%= form.label :answer1, image_tag("Group 5.png"), value: "Yes", class: "yes-label"  %>
            <%= image_tag 'or.png', class: "or" %>
            <%= form.radio_button :answer1, "No", class:"radio-btn" %>
            <%= form.label :answer1, image_tag("Group 6.png"), value: "No", class: "no-label"  %>
        </div>
        <%= image_tag 'guide_q.png' %>
    </div>

    <div class="question2">
        <%= image_tag '質問１.png', class: "q_num" %>
        <%= image_tag 'Group 11.png', class: "q_image" %>
        <div class="answer_zone">
            <%= form.radio_button :answer1, "Yes", class: "radio-btn"  %>
            <%= form.label :answer1, image_tag("Group 5.png"), value: "Yes", class: "yes-label"  %>
            <%= image_tag 'or.png', class: "or" %>
            <%= form.radio_button :answer1, "No", class:"radio-btn" %>
            <%= form.label :answer1, image_tag("Group 6.png"), value: "No", class: "no-label"  %>
        </div>
        <%= image_tag 'guide_q.png' %>
    </div>

    <div class="question3">
        <%= image_tag '質問１.png', class: "q_num" %>
        <%= image_tag 'Group 11.png', class: "q_image" %>
        <div class="answer_zone">
            <%= form.radio_button :answer1, "Yes", class: "radio-btn"  %>
            <%= form.label :answer1, image_tag("Group 5.png"), value: "Yes", class: "yes-label"  %>
            <%= image_tag 'or.png', class: "or" %>
            <%= form.radio_button :answer1, "No", class:"radio-btn" %>
            <%= form.label :answer1, image_tag("Group 6.png"), value: "No", class: "no-label"  %>
        </div>
        <%= image_tag 'guide_q.png' %>
    </div>

    <div class="question4">
        <%= image_tag '質問１.png', class: "q_num" %>
        <%= image_tag 'Group 11.png', class: "q_image" %>
        <div class="answer_zone">
            <%= form.radio_button :answer1, "Yes", class: "radio-btn"  %>
            <%= form.label :answer1, image_tag("Group 5.png"), value: "Yes", class: "yes-label"  %>
            <%= image_tag 'or.png', class: "or" %>
            <%= form.radio_button :answer1, "No", class:"radio-btn" %>
            <%= form.label :answer1, image_tag("Group 6.png"), value: "No", class: "no-label"  %>
        </div>
        <%= image_tag 'guide_q.png' %>
    </div>

    <div class="question5">
        <%= image_tag '質問１.png', class: "q_num" %>
        <%= image_tag 'Group 11.png', class: "q_image" %>
        <div class="answer_zone">
            <%= form.radio_button :answer1, "Yes", class: "radio-btn"  %>
            <%= form.label :answer1, image_tag("Group 5.png"), value: "Yes", class: "yes-label"  %>
            <%= image_tag 'or.png', class: "or" %>
            <%= form.radio_button :answer1, "No", class:"radio-btn" %>
            <%= form.label :answer1, image_tag("Group 6.png"), value: "No", class: "no-label"  %>
        </div>
        <%= image_tag 'guide_q.png' %>
    </div>

    <div class="question6">
        <%= image_tag '質問１.png', class: "q_num" %>
        <%= image_tag 'Group 11.png', class: "q_image" %>
        <div class="answer_zone">
            <%= form.radio_button :answer1, "Yes", class: "radio-btn"  %>
            <%= form.label :answer1, image_tag("Group 5.png"), value: "Yes", class: "yes-label"  %>
            <%= image_tag 'or.png', class: "or" %>
            <%= form.radio_button :answer1, "No", class:"radio-btn" %>
            <%= form.label :answer1, image_tag("Group 6.png"), value: "No", class: "no-label"  %>
        </div>
        <%= image_tag 'guide_q.png' %>
    </div>

    <div class="question7">
        <%= image_tag '質問１.png', class: "q_num" %>
        <%= image_tag 'Group 11.png', class: "q_image" %>
        <div class="answer_zone">
            <%= form.radio_button :answer1, "Yes", class: "radio-btn"  %>
            <%= form.label :answer1, image_tag("Group 5.png"), value: "Yes", class: "yes-label"  %>
            <%= image_tag 'or.png', class: "or" %>
            <%= form.radio_button :answer1, "No", class:"radio-btn" %>
            <%= form.label :answer1, image_tag("Group 6.png"), value: "No", class: "no-label"  %>
        </div>
        <%= image_tag 'guide_q.png' %>
    </div>

    <div class="question8">
        <%= image_tag '質問１.png', class: "q_num" %>
        <%= image_tag 'Group 11.png', class: "q_image" %>
        <div class="answer_zone">
            <%= form.radio_button :answer1, "Yes", class: "radio-btn"  %>
            <%= form.label :answer1, image_tag("Group 5.png"), value: "Yes", class: "yes-label"  %>
            <%= image_tag 'or.png', class: "or" %>
            <%= form.radio_button :answer1, "No", class:"radio-btn" %>
            <%= form.label :answer1, image_tag("Group 6.png"), value: "No", class: "no-label"  %>
        </div>
        <%= image_tag 'guide_q.png' %>
    </div>

    <%= form.submit "結果を確認する", class: "submit-btn"%>

<% end %>